* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.section {
  display: grid;
  grid-template-columns: repeat(4, 70px);
  grid-template-rows: repeat(5, 50px);
}

.items {
  margin: 0.5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.results {
  grid-column-start: 1;
  grid-column-end: 5;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 5px;
  margin: 0.5px;
  color: white;
  height: auto;
}

.item17 {
  grid-column-start: 1;
  grid-column-end: 4;
  height: 50px;
}

.gray-bg {
  background-color: lightslategray;
}

.golden-bg {
  background-color: orange;
}

.norm-bg {
  background-color: lightgray;
}

button {
  border: none;
  outline: none;
}

.flexed-items {
  margin: 0.6px;
}
