* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  text-align: center;
  justify-content: center;
}

.container {
  width: 420px;
  margin: 100px auto;
  box-shadow: -1px 8px 22px -6px rgba(0, 0, 0, 0.4);
  border-radius: 6px;
}

.numInput {
  height: 40px;
  font-size: 20px;
  font-weight: 700;
  text-align: right;
  color: white;
  background-color: #92939f;
  border-radius: 6px;
  border: none;
  outline: none;
  padding: 50px 0 0 11px;
  justify-content: space-around;
}

.rows-contanier {
  display: flex;
  flex-direction: column;
}

.num-buttons {
  font-size: 20px;
  padding: 12px;
  border: 1px solid rgb(199, 195, 195);
  border-radius: 4px;
  width: 25%;
  cursor: pointer;
  background-color: #e4e4e4;
}

.sign-btn {
  font-size: 20px;
  padding: 12px;
  border: 1px solid rgb(229, 223, 223);
  border-radius: 4px;
  width: 25%;
  background-color: orange;
  cursor: pointer;
}

.num-zero {
  font-size: 20px;
  padding: 12px;
  border: 1px solid rgb(229, 223, 223);
  border-radius: 6px;
  width: 50%;
  cursor: pointer;
  background-color: #e4e4e4;
}

/* hover-part */
button:hover {
  border: 0.4px solid orange;
}
